.OrderBook {
  display: flex;
  flex-direction: column;
}

.OrderBook .socket-status {
  font-size: 14px;
  margin: 20px;
  display: block;
}
 
.OrderBook .tables {
  display: flex;
}

.Config {
  display: flex;
  align-items: center;
  margin: 14px 0px;
}

.Config p {
  margin-right: 12px;
  display: block;
}